<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>短链接</title>
		<link rel="stylesheet" href="css/app.css"/>
	<body>
		<div class="container">
            <header>
                <a href="/">
                    <h1>404 - Not Found</h1>
                </a>
            </header>
        <section>
            <div class="tab_wrap">您要查看的页面不存在</div>
        </section> 
		</div>
		<footer>
       		<center>
           		<p class="copyright"><a href="https://shyling.com">©2016 shyling</a></p>
       		</center>
    	</footer>
	</body>
</html>